fast-histogram==0.7
h5py==2.10.0
joblib==0.14.0
jsonref==0.2
jsonschema==3.2.0
loky==2.6.0
matplotlib==2.1.2
memory_profiler==0.55.0
numpy==1.15.4
Pillow==6.2.1
psutil==5.6.7
pycuda>=2019.1.2
scikit-image==0.14.1
scikit-learn==0.19.1
scipy==1.1.0
tqdm==4.43.0
