fast-histogram==0.9
h5py==2.10.0
joblib==0.16.0
jsonref==0.2
jsonschema==3.2.0
loky==2.8.0
matplotlib==3.2.2
memory_profiler==0.57.0
numpy==1.19.0
Pillow==7.2.0
psutil==5.7.0
pycuda==2019.1.2
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.1
setuptools-scm==4.1.2
